{{template "base" .}}

{{define "content"}}
    
    <!-- container  -->
    <div class="container">

      <div class="row">
        <div class="col">
          <img src="./static/images/marjors-suite.png" alt="room-image" class="img-fluid mx-auto d-block room-image img-thumbnail">
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <h1 class="mt-4 text-center">Major's Suite</h1>
          <p>Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember | Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember | Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember | Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember | Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember | Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember </p>
        </div>
      </div>

      <div class="row ">
        <div class="col text-center">
          <a href="/make-reservation-ms" class="btn btn-success">Check Avalibility</a>
        </div>
      </div>

    </div>
{{end}}